@use '../../styles/partials/_allPartials.scss' as *;

.header {
    background-color: $darker-green-color;
    @include setPadding(1rem, 1rem, 1rem, 1rem);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;

    @include tablet {
        @include setPadding(0.7rem, 1rem, 0.7rem, 1rem);
    }


    &__img {
        width: 20%;

        @include tablet{
            width: 10%;
        } 

        @include desktop {
            width: 7%;
        }

    }

    &__link {
        text-decoration: none;
        display: contents;
    }

    &__title {
       text-align: center;
        color: $white-color;
        font-size: 1.5rem;
        font-weight: 600;

        @include tablet {
            font-size: 1.7rem;
        }
    }
}