@use '../../styles//partials/allPartials' as *;

.footer {
    background-color: $darker-green-color;
    color: $white-color;
    font-size: .8125rem;
    font-weight: 600;
    width: 100%;
    @include setPadding(1rem, 1rem, 1rem, 1rem);
}