@use '../../styles//partials/allPartials' as *;

.footer {
    background-color: $darker-green-color;
    color: $white-color;
    font-size: .8125rem;
    font-weight: 600;
    width: 100%;
    @include setPadding(1rem, 1rem, 1rem, 1rem);

    @include tablet {
        @include setPadding(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        font-size: .83rem;
    }
}